.ms-container {
  padding: 1rem;
  background-color: darkgrey;
}

.multiselect {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}
.multiselect header {
  background-color: lightgrey;
  border: 1px solid #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.multiselect h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}

.multiselect .btn-clear {
  background: none;
  border: none;
  color: darkgrey;
  padding: 0.5rem;
  cursor: pointer;

  :hover {
    color: black;
  }
}

.multiselect section {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 150px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #d2d2d2;
}

.multiselect .multiselect-item {
  width: 45%;
  padding-block: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.multiselect .multiselect-item input {
  background-color: white;
  width: 1rem;
}
